<tr id="<%= dom_id project %>">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= project.name %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= project.description %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= project.start_date %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= project.end_date %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= project.status %></td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
    <%= link_to 'Edit', edit_project_path(project), class: "text-indigo-600 hover:text-indigo-900" %>
  </td>
</tr>
